{{#each data}}
  {{#if isNew}}
    <div class='card'>

      <div class='card_articles'>
        <img
          src='{{photo}}'
          alt='photo'
          class='card_image'
          id='{{id}}'
        />
        <span class='badge_articles'>NEW</span>
      </div>

      <h2 class='card_title'>{{name}}</h2>
      <p class='card_text'>{{description}}</p>
      <a
        href='https://example.com/'
        class='button card_button'
      >Read All</a>
    </div>
  {{else}}
    <div class='card'>
      <img
        src='{{photo}}'
        alt='photo'
        class='card_image'
        id='{{id}}'
      />

      <h2 class='card_title'>{{name}}</h2>
      <p class='card_text'>{{description}}</p>
      <a
        href='https://example.com/'
        class='button card_button'
      >Read All</a>
    </div>
  {{/if}}
{{/each}}